<!DOCTYPE html>
<html lang="en">
	<head>
		<title>WGLMap</title>
                <script src="js/pako_inflate.min.js"></script>
                <script src="js/vendor/jquery.js"></script>
		<script src="js/vendor/threejs/three.min.js"></script>
		<script src="js/vendor/threejs/MTLLoader.js"></script>
		<script src="js/vendor/threejs/OBJMTLLoader.js"></script>
		<script src="js/wglmap.js"></script>
		<script src="js/vendor/threejs/OrbitControls.js"></script>
	</head>
	<body style="background-color:#000;overflow:hidden;">
	</body>
</html>
